.spaces-show {
  .card-user-show {
    border-radius: 50%;
    height: 60px;
    margin-bottom: 10px;
  }

  .flex_box {
    display: flex;
    justify-content: left;
    height: 200px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  }

  .book-card-col {
    position: sticky !important;
    top: 0 !important;
    padding-right: 0;
  }

  .book-card {
    background-color: rgba(255, 215, 0, 0.3 );
    text-align: center;
    border-radius: 0 0 0 5px;
    padding: 50px 20px;
  }



  .text-center {
    display: inline-block;
    margin-bottom: 25px;
  }

  .row {
    margin-bottom: 50px;
  }

  .row h1 {
    margin-bottom: 10px;
    font-size: 38px;
  }

  .show-rating{
    margin-bottom: 50px;
    .card-rating{
      left: 15px;
    }
    i{
    font-size: 20px !important;
    }
  }

  .renseignement {
    font-size: 18px;
    font-weight: bold;
  }

  .image {
    display: flex;
    align-items: center;
  }

  .owner-name {
    margin-left: 13px;
  }

  .flex_box_equipement {
    width: 400px;
    display: flex;
    justify-content: space-between;
  }

  .owner_description {
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    width: 95%;
  }
  .owner_description h2 {
    margin-bottom: 20px;
  }

  .description {
    width: 95%;
    margin-top: 40px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  }

  .wrapper-reviews{
    width: 95%;
  }
}
