<div class="row">

    <%  @spaces.each do |space| %>
      <%= link_to space_path(space) do %>

      <div class="col-xs-12 col-sm-4 card_margin">

        <div class="card-space">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/1600x900/?desk');">
            <div class="card-description">
              <h2><%= space.title %></h2>
            </div>
          </div>
          <div class="foot_card">
            <div class="name_user_card">By <%= space.owner.first_name %></div>
            <%= image_tag space.owner.image, alt: "user_img", class: "card-user" %>
          </div>
        </div>

      </div>

      <% end %>
    <% end %>

  </div>






