<h1>Space ID : <%= @space.id %></h1>

<br>
<div class="owner">Owner ID : <%= @space.owner_id %></div>

<div class="owner">Owner email : <%= @owner.email %></div>

<p><%= link_to "Back to index", spaces_path %></p>
