// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
  background-color: white;
  margin-top: 2px;
  min-height: 100vh;
}

