<% if user_signed_in? %>
<% else %>
<div class="banner-landing" style="background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1441878/saloon_HD_rv7ekk.jpg');">
  <div class="banner-content">
    <h1>Quand le coworking <br>
    s'invite chez toi !</h1>
    <%= link_to "Je m'inscris", new_user_registration_path, class:"btn btn-primary btn-lg" %>
  </div>
</div>
<% end %>
